#sameple CI workflow showcasing GitHub Actions for Product Catalog Service
# CI for Product Catalog Service
name: product-catalog-ci
on: push
    

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: checkout code 
          uses: actions/checkout@v4


        - name: setup go 1.22
          uses: actions/setup-go@v2
          with:
            go-version: 1.22
        
        - name: build 
          run: |
            cd src/product-catalog
            go mod download 
            go build -o product-catalog-service main.go

        - name: unit tests
          run: |
            cd src/product-catalog
            go test ./...

    code-quality:
        runs-on: ubuntu-latest
        steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Setup Go 1.22
          uses: actions/setup-go@v2
          with:
           go-version: 1.22
        
        - name: Run golangci-lint
          uses: golangci/golangci-lint-action@v6
          with:
            version: v1.55.2
            run: golangci-lint run
            working-directory: src/product-catalog

    docker:
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: install docker buildx
          uses: docker/setup-buildx-action@v1

        - name: login to docker 
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_TOKEN}}
        - name: docker push
          uses: docker/build-push-action@v6 
          with:
            context: src/product-catalog
            file: src/product-catalog/Dockerfile
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/product-catalog:${{github.run_id}}
    updatek8s:
        runs-on: ubuntu-latest
        needs: docker
        steps:
            - name: checkout code
              uses: actions/checkout@v4
              with:
                token: ${{ secrets.GITHUB_TOKEN }}
            
            - name: Update tag in kubernetes deployment manifest
              run: | 
               sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/product-catalog:${{github.run_id}}|" kubernetes/productcatalog/deploy.yaml
            - name: commit and push changes
              run: |
                git config --global user.name "dhananjay.m.18"
                git config --global user.email "Dhananjay.m.18@gmail.com
                git add kubernestes/productcatalog/deploy.yaml
                git commit -m "[CI]: update product catalog image tag"
                git push



            

          


        
            
          
